<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <File name="InputWrongAccount" fileName="logs/iwa.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="inputFalseAccount"/>
            </Filters>
        </File>
        <File name="LockingAccount" fileName="logs/la.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="lockingAccount"/>
            </Filters>
        </File>
        <File name="Transaction" fileName="logs/t.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="transaction"/>
            </Filters>
        </File>
        <File name="Exception" fileName="logs/ex.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="all">
            <appender-ref ref="InputWrongAccount" level="info"/>
            <appender-ref ref="LockingAccount" level="info"/>
            <appender-ref ref="Transaction" level="info"/>
            <appender-ref ref="Exception" level="error"/>
        </root>
    </loggers>
</configuration>